/*
    // App: WebApp - Javascript library  - Date: 2019/11/12 17:40:24
*/

textarea {
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
   width:100%;
   hieght:100%;
}
